/doc/
/libs/
/lib/
/.crystal/
/.shards/


# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

/data/posts/*
/data/assets/**/*
/data/layout/*
/public/**/*
