<div class="grid-super-container">
  <div class="grid grid-container">
    {{ postbox }}
  </div>

  <div id="after-grid" style="height: 120px">
    <div class="grid-paginate-container">

      {% if paginator.total_pages > 1 %}
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Poprzednia</a>
        {% else %}
          <span>&laquo; Poprzednia</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <em>{{ page }}</em>
          {% elsif page == 1 %}
            <a href="{{ "/list" | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
          {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Następna &raquo;</a>
        {% else %}
          <span>Następna &raquo;</span>
        {% endif %}
      {% endif %}

    </div>

  </div>
</div>






<script type="text/javascript">
  $(document).ready(function () {
    masInit();
  });
</script>
