<script src="/js/planner.js" type="text/javascript"></script>

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ header_img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Planer</h1>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Post Content -->
<article>
    <div class="container">
    <div class="row">
      <div class="col-lg-14">
        <div id="content"></div>
      </div>
    </div>
  </div>
</article>

<hr>

<script type="text/javascript">
  $(document).ready(function () {
    l = new BlogPlanner;
    l.start();
  });
</script>
