<div class="todo_route">
  <div class="route_from">{{ route.from }}</div>
  <div class="route_from_cost">{{ route.from_cost }}</div>

  <div class="route_to">{{ route.to }}</div>
  <div class="route_to_cost">{{ route.to_cost }}</div>

  <div class="route_inner"><a href="{{ route.url }}" target="_blank">{{ route.distance }}km</a></div>
  <div class="route_inner_cost">{{ route.time_length }}h</div>

  <div class="route_cost_summary">
    {{ partial.through }}

    Koszt czasowy (HQ): <strong>{{ route.total_cost }}h</strong> {{ route.total_cost_explained }}.
    Udział czasu trasu: <strong>{{ route.time_length_percentage }}%</strong>.
    <br/>

    {{ partial.accommodation }}

    Długość szacunkowa: <strong>{{ route.distance }}km</strong>,
    jest o <strong>{{ route.distance_to_straigh_percentage }}%</strong> dłuższa
    niż <strong>{{ route.straight_line_length }}km</strong> w linii prostej.
    <br/>

    Odległość od Poznania: <strong>{{ route.center_point_distance_to_home }}km</strong>.
    Koszt dojechania 1km to <strong>{{ route.time_cost_per_distance_center_km_in_seconds }}s</strong>.
    <br/>

  </div>
</div>
