@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: 300;
  src: local('DejaVu Sans'), url(../fonts/other/DejaVuSans-ExtraLight-webfont.woff) format('woff');
}
@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: 700;
  src: local('DejaVu Sans Bold'), url(../fonts/other/DejaVuSans-Bold-webfont.woff) format('woff');
}

