.slider-title {
  text-shadow: 1px 1px #555;
  color: #fff;
  line-height: 1.1;

  text-align: center;

  font-size: 48px;
  padding-top: 150px;
}

.loading-container {
  text-shadow: 1px 1px #555;
  color: #fff;
  line-height: 1.1;
  text-align: center;
}

.loading-container h1 {
  font-size: 48px;
}

.loading-container a {
  color: #fff;
  font-weight: 600;
}
.loading-container a:visited {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .slider-title {
    font-size: 68px;
    padding-top: 220px;
  }

  .loading-container h1 {
    font-size: 68px;
    padding-top: 50px;
  }

}

@media only screen and (min-width: 1150px) {
  .slider-title {
    font-size: 72px;
    line-height: 1.3;
    padding-top: 230px;
  }

  .loading-container h1 {
    font-size: 72px;
    padding-top: 50px;

  }

}

.slider-hr {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.slider-subtitle {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;

  color: #fff;
  text-align: center;
}

.slider-link, .slider-link:hover {
  text-decoration: none;
}

.loading-container {
}

.loading-content {
  z-index: 2;

  position: relative;
  top: 0px;
  height: 800px;
  width: 100%;
  padding-top: 180px;
  text-align: center;
}

.loading-container-background {
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  background-image: url("/img/back.jpg");
  width: 100%;
  height: 100%;

  z-index: -1;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
