<article>
    <div class="container">
    <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <p id="post-meta">{{ tags_content }}</p>
              <p id="post-meta">{{ towns_content }}</p>
              <p id="post-meta">{{ lands_content }}</p>

              {{ pois_container }}

				      {{ content }}

                <hr>

                <ul class="pager">
                    {{ prev_post_pager }}
                    {{ next_post_pager }}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>
